body {
	background-color: #D8D8D1;	
	font-family: 'Source Sans Pro', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
	margin: 10px 10px 10px 10px; 
}

#logo {
	text-align: center;
	padding-top: 20px;
}

#enemy-div {
	display: none;
}

#your-fighter {
	display: none;
}

#instructions {
	text-align: center;
	color: #F5F5F5;
	/*background-color: #F5F5F5;*/ 
	/*border-radius: 4px;*/
	/*padding: 5px 0px 5px 0px;*/
	display: none;
}

.arena {
	display: none;
}

.jumbotron {
	background-image: url("assets/sw-banner.jpeg");
	background-color: #3F3F3E;
	color: yellow;
	border: 8px solid white;
	border-radius: 4px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
}

.container {
	background-color: #3F3F3E;
/*	background-color: purple;
*/	/*color: yellow;*/
	border: 8px solid white;
	border-top: 0px;
	/*border-top: 0px;*/
	/*border-radius: 4px;*/
	/*padding: 0px 0px 0px 0px;*/
	/*margin: auto;*/
	width: 100%;
}
.hide-and-show-title {
	text-align: center;
	color: yellow;
	display: none;
	padding: 50px 0px 100px 0px;
}

.row {
	 margin-right: 0px; 
     margin-left: 0px; 
}

.panel {
	margin-top: 20px;
	background-color: #3F3F3E;
	color: #F5F5F5;
}

.panel-heading h3, .panel-heading h1 {
	color: #3F3F3E;
	text-align: center;
	font-size: 2.5em;
}

.panel-title {
	font-size: 2.5em;
}

.panel-body {
	text-align: center;
}

.character-list {
	/*padding: 10px 10px 10px 10px;*/
	margin: 10px 10px 10px 10px;
	display: inline-block;
	border: 3px solid white;

}

.character-list h1 {
	text-align: center;
}


